.header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 67px;
  width: 100vw;

  background: #c3cfd9;
}

.header p {
  font-size: 34px;
  line-height: 40px;

  color: #e8833a;
}
