.header {
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 67px;
  width: 100vw;

  background: #c3cfd9;
}

.header p {
  font-size: 34px;
  line-height: 40px;

  color: #e8833a;

  /* padding-left: 100px; */
}

.header button{
  margin-left: 50px;
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background-color: #e8833a;
  border-radius: 3px;

  font-size: 15px;
  line-height: 21px;
  color: #ffffff;
}
