.day {
  margin-bottom: 22px;
  padding-left: 24px;
}

.box-sections {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 23px;

  padding-left: 24px;
  padding-right: 24px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 83px;
  height: 43px;
  margin-right: 8px;
  margin-bottom: 8px;

  background-color: #e8833a;
  border-radius: 3px;

  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;

  display: flex;
  align-items: center;
  
  padding-left: 10px ;
  height: 117px;

  background: #dfe6ed;
  border: 1px solid #9eadba;
}

.box-film-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 64px;
  height: 89px;
  margin-right: 14px;

  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-color: #FFFFFF;
}

.box-film-footer img {
  width: 48px;
  height: 72px;

  background-color: orange;
}

a{
  text-decoration: none
}

.film {
  margin-bottom: 137px;
  padding-top: 67px;
} 